tr.calendar-row {  
}
td.calendar-day, td.calendar-weekend-day, td.calendar-current-day {
     height:100px;
      position:relative;
     vertical-align: top;
   
}
* html div.calendar-day, div.calendar-weekend-day, div.calendar-current-day {
     height:100px;
}
/* This alters the headings (the days of the week) Change the colour and background for those here */
td.calendar-day-head {
     background:#d1d1d1;
    font-weight:bold;
     text-align:center;
   
}
/* Change these colours to alter the respective portion of the calendar */
td.calendar-day    {
    /* background-color: #cdeb8b;*/
}
td.calendar-weekend-day    {
     background-color: #9A9AB7;	
}
td.calendar-current-day    {
     background-color: #cdeb8b;
}
/* These colours are for the mouse over effects on the calendar */
td.calendar-day:hover {
     background:#f2f6f8;
}
td.calendar-weekend-day:hover {
     background:#B4ADCC;
}
td.calendar-current-day:hover {
     background:#e3f5ab;
	 color:#000;
}
/* background colour of the blank dates */
td.calendar-day-np {
     background:#EEE;
     min-height:100px;
}
* html div.calendar-day-np {
     height:100px; 
}
/* This alters the number dates of the calendar */
div.calendar-day-number {
     position: relative;
     font-weight:bold;
     float:right;    
     text-align:right;
}
/* This alters the text section for events on the calendar. */

div.calendar-current-day-text {
    font-size:95%;
}
div.calendar-current-day-text a {
    text-decoration: none;
	color:#FFF;
}
div.calendar-current-day-text a:hover {
     color: #333;
     text-decoration: underline;
}

/*weekend*/
div.calendar-weekend-day-text {
 font-size:95%;
    
}
div.calendar-weekend-day-text a {
    text-decoration: none;
	color:#FFF;
}
div.calendar-weekend-day-text a:hover {
     color: #333;
     text-decoration: underline;
}

/*default*/
div.calendar-text {
	     
}
div.calendar-text a {
	 font-size:95%;
    text-decoration: none;
}
div.calendar-text a:hover {
     color: #333;
     text-decoration: underline;
}
/* shared */
td.calendar-day,td.calendar-current-day, td.calendar-weekend-day, td.calendar-day-np {
     width:150px;
    
}
  